@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #215B93;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    background-color: #1D41AB;
}
.navButtons{
    color: #fff;
    font-size: 20px;
    background-color: #0668AE;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
}
.navButtons:hover{
    background-color: #36A3A2;
}
h1{
    width: max-content;
    padding: 15px;
    margin: 15px;
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: #36A3A2 solid 10px;
}
.txtHome{
    margin: 20px;
}
.txt{
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 15px;
    /* margin: 20px; */
    margin-bottom: 20px;
}
.img img{
    width: 600px;
    height: 500px;
    border-radius: 8px;
}
.rowHome{
    /* margin: 20px; */
    border: 0;
    padding: 0px;
}
footer{
    background-color: #36A3A2;
    padding: 13px;
}
.footInfo{
    font-size: 16px;
}
.footInfo a{
    color: #215B93;
    text-decoration: none;
}
.footInfo a:hover{
    color: #333;
}
.footRedes{
    font-size: 20px;
    text-align: center;
}
.footRedes i{
    font-size: 36px;
    text-indent: 25px;
    text-align: center;
    color: #333;
}
i:hover{
    color: #215B93;
}
.img .imgPurif{
    width: 900px;
    height: auto;
    margin-bottom: 50px;
}
.img .img2Purif{
    width: 90%;
    height:max-content;
}
.subTitlePurif{
    background-color: #1D41AB;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}
.txt3Purif2{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.txt3Purif2 li{
    margin-bottom: 8px;
}



@media only screen and (min-width:320px) and (max-width:640px){
    .img img{
        width: 310px;
        height: auto;
    }
    .img .imgPurif{
        width: 95%;
    }
}
@media only screen and (min-width:768px){
    .subTitlePurif{
        width: 150px;
        text-align: start;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media only screen and (min-width:641px) and (max-width:990px){
    .img .img2Purif{
        width: 400px;
    }
}
@media only screen and (min-width:1700px){
    .img img{
        width: 800px;
    }
}